<app-navbar></app-navbar>

<main class="container">
    <div class="card my-3 pt-3">
        <div class="card-body">
          <h5 class="card-title">Rafael Bautista</h5>
          <h6 class="card-subtitle mb-3 text-muted">Col. La Esperanza, Tegucigalpa</h6>
          <h5 class="card-subtitle mb-2">Burger King</h5>
          <p class="card-text">Combo Whopper con Coca-Cola</p>
          <h6 class="card-subtitle mb-2 text-muted">Monto: L. 145.00</h6>
          <a href="#" class="card-link">Entregar Pedido</a>
        </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <h5 class="card-title">Rafael Bautista</h5>
        <h6 class="card-subtitle mb-3 text-muted">Col. La Esperanza, Tegucigalpa</h6>
        <h5 class="card-subtitle mb-2">Burger King</h5>
        <p class="card-text">Combo Whopper con Coca-Cola</p>
        <h6 class="card-subtitle mb-2 text-muted">Monto: L. 145.00</h6>
        <a href="#" class="card-link">Entregar Pedido</a>
      </div>
  </div>
</main>

<app-footbar></app-footbar>
